* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.photo-window {
  display: block;
  width: 370px;
  border-radius: 50%;
  height: 370px;
  background-image: url("../img/my-photo.jpg");
  background-origin: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8e949c;
}

.contact-letter {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.tech-skills-text {
  color: #f0f1f2;
}

.soft-skills-container {
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 15px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.soft-skills-text {
  color: #f0f1f2;
}

.about-me-container-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 23px;
}

.about-me-container-name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-right: 30px;
}

.introduction {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  margin-left: 9px;
  line-height: 24px;
}

.dots {
  font-weight: 100;
  color: #595959;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  margin-left: 9px;
  line-height: 24px;
}

.project-item {
  font-weight: 700;
  margin-left: 17px;
}

.project-container {
  margin-bottom: 55px;
}

.prof-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.prof-company {
  color: #ff6b08;
}

.time {
  color: #bfbfbf;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.time-divider {
  color: #000000;
}

.prof-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.prof-duties-item {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.school-name {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.faculty {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.sm-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.sm-list-item:not(:last-child) {
  margin-right: 10px;
}

.sm-list-item-icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition-property: background-color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list-item-icon:hover,
.sm-list-item-icon:focus {
  background-color: #ff6b08;
}

.item-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #676769;

  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list-item-icon:hover .item-icon,
.sm-list-item-icon:focus .item-icon {
  fill: white;
}

.name {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
